$primary: #fab03b;
$secondary: #248073;
$secondary-light: #39b69f;

.page {
  color: $secondary;
  background-color: $primary;

  &-inner {
    min-height: 100vh;
    max-width: 700px;
    margin: 0 auto;
  }

  .menu {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 99em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $secondary;
    padding: 18px 13px;

    div {
      background-color: white;
      height: 15%;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  appearance: none;
  @apply p-4;
  background-color: white;
  border: 1px solid gray;
  max-width: 640px;

  &::placeholder {
    color: $secondary;
  }
}

input[type="checkbox"] {
  transform: scale(1.5);
  transform-origin: center left;
}

button.send {
  background-color: $secondary-light;
  color: white;
  border: 1px solid white;
}
